In [23]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [24]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [25]:
df = pd.read_csv('/content/gdrive/MyDrive/dataset/seacon_data/realulsan_mergedall.csv',index_col=0)
df

,ulsan_drag_train_final.num,ulsan_drag_train_final.time,ulsan_drag_train_final.latitude,ulsan_drag_train_final.longitude,ulsan_drag_train_final.sog,ulsan_drag_train_final.cog,ulsan_drag_train_final.hdg,stn_num,timestamp,target,...,ganjeol_max_wh,ganjeol_sig_wh,ganjeol_mean_wh,dangsa_max_wh,dangsa_sig_wh,dangsa_mean_wh,gori_ws,gori_wd,idukseo_ws,idukseo_wdpoint
0,1,2021-02-14 14:37:11,"""N35.433233""","""E129.458967""",0.2,60.0,204,E2,2021-02-14 14:37,0,...,0.8,0.6,0.4,1.20000,0.800000,0.6,14.8,122.0,172.0,2.0
1,1,2021-02-14 14:37:21,"""N35.433233""","""E129.458983""",0.2,53.0,204,E2,2021-02-14 14:37,0,...,0.8,0.6,0.4,1.20000,0.800000,0.6,14.8,122.0,172.0,2.0
2,1,2021-02-14 14:37:33,"""N35.433250""","""E129.459000""",0.2,45.0,203,E2,2021-02-14 14:37,0,...,0.8,0.6,0.4,1.20000,0.800000,0.6,14.8,122.0,172.0,2.0
3,1,2021-02-14 14:37:42,"""N35.433250""","""E129.459000""",0.2,44.0,203,E2,2021-02-14 14:37,0,...,0.8,0.6,0.4,1.20000,0.800000,0.6,14.8,122.0,172.0,2.0
4,1,2021-02-14 14:37:52,"""N35.433267""","""E129.459017""",0.2,41.0,203,E2,2021-02-14 14:37,0,...,0.8,0.6,0.4,1.20000,0.800000,0.6,14.8,122.0,172.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388238,127,2022-02-06 23:00:59,"""N35.459582""","""E129.416498""",0.1,246.5,315,E1,2022-02-06 23:00,0,...,0.6,0.5,0.3,0.91453,0.676353,0.4,21.6,211.0,297.0,3.8
388239,127,2022-02-06 23:04:03,"""N35.459568""","""E129.416445""",0.0,301.3,322,E1,2022-02-06 23:04,0,...,0.6,0.5,0.3,0.91453,0.676353,0.4,20.6,210.0,303.0,3.8
388240,127,2022-02-06 23:07:00,"""N35.459557""","""E129.416562""",0.3,98.9,317,E1,2022-02-06 23:07,0,...,0.6,0.5,0.3,0.91453,0.676353,0.4,19.5,228.0,306.0,5.4
388241,127,2022-02-06 23:10:02,"""N35.459630""","""E129.416552""",0.2,322.3,305,E1,2022-02-06 23:10,0,...,0.6,0.5,0.3,0.91453,0.676353,0.4,20.8,211.0,310.0,6.5
388242,127,2022-02-06 23:13:00,"""N35.459640""","""E129.416417""",0.2,244.3,306,E1,2022-02-06 23:13,0,...,0.6,0.5,0.3,0.91453,0.676353,0.4,30.8,215.0,310.0,7.3

방위각에 대하여 360 = 0이므로 바꿔주기(실침로 컬럼에는 있고, 선수미선 컬럼에는 없음)

In [26]:
df_360 = df[df['ulsan_drag_train_final.cog']==360]
df_360

,ulsan_drag_train_final.num,ulsan_drag_train_final.time,ulsan_drag_train_final.latitude,ulsan_drag_train_final.longitude,ulsan_drag_train_final.sog,ulsan_drag_train_final.cog,ulsan_drag_train_final.hdg,stn_num,timestamp,target,...,ganjeol_max_wh,ganjeol_sig_wh,ganjeol_mean_wh,dangsa_max_wh,dangsa_sig_wh,dangsa_mean_wh,gori_ws,gori_wd,idukseo_ws,idukseo_wdpoint
176806,119,2022-01-23 06:26:00,"""N35.456852""","""E129.442573""",0.4,360.0,331,E1,2022-01-23 06:26,0,...,0.9,0.6,0.3,1.055451,0.620609,0.359789,42.2,229.0,338.0,1.8

In [27]:
df['ulsan_drag_train_final.cog'].replace(360, 0, inplace=True)

drag데이터와 anch데이터의 선박번호는 서로 다른 선박번호 즉 관계가 없는 선박번호이므로 anch데이터의 선박번호에 대하여 +1000처리

In [28]:
df.loc[218612:,'ulsan_drag_train_final.num'] +=1000

In [29]:
df.isnull().sum()

ulsan_drag_train_final.num          0
ulsan_drag_train_final.time         0
ulsan_drag_train_final.latitude     0
ulsan_drag_train_final.longitude    0
ulsan_drag_train_final.sog          0
ulsan_drag_train_final.cog          0
ulsan_drag_train_final.hdg          0
stn_num                             0
timestamp                           0
target                              0
time                                0
ganjeol_max_wh                      0
ganjeol_sig_wh                      0
ganjeol_mean_wh                     0
dangsa_max_wh                       0
dangsa_sig_wh                       0
dangsa_mean_wh                      0
gori_ws                             0
gori_wd                             0
idukseo_ws                          0
idukseo_wdpoint                     0
dtype: int64

In [30]:
df['ulsan_drag_train_final.num'].unique()

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  101,  102,  103,  104,  105,  106,  107,  108,  109,  110,
        111,  112,  113,  114,  115,  116,  117,  118,  119,  120,  121,
        122,  123,  124,  125,  126,  127,  128,  129,  130,  131,  132,
        133,  134,  135,  136,  137,  138,  139,  140,  141,  142,  143,
        144,  145,  146,  147,  148,  149,  150,  151,  152,  153,  154,
        155,  156,  157,  158,  159,  160,  161,  162,  163, 1001, 1002,
       1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013,
       1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024,
       1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035,
       1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046,
       1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057,
       1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068,
       1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079,
       1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090,
       1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101,
       1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112,
       1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123,
       1124, 1125, 1126, 1127])

pdf에 나온 결측값들 nan값으로 두기

In [31]:
df.replace('-99',np.nan,inplace=True)
df.replace('-99.9',np.nan,inplace=True)
df.replace('-999',np.nan,inplace=True)
df.replace('-99.-',np.nan,inplace=True)
df.replace(-99,np.nan,inplace=True)
df.replace(-99.9,np.nan,inplace=True)
df.replace(-999,np.nan,inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388243 entries, 0 to 388242
Data columns (total 21 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   ulsan_drag_train_final.num        388243 non-null  int64
 1   ulsan_drag_train_final.time       388243 non-null  object
 2   ulsan_drag_train_final.latitude   388243 non-null  object
 3   ulsan_drag_train_final.longitude  388243 non-null  object
 4   ulsan_drag_train_final.sog        388243 non-null  float64
 5   ulsan_drag_train_final.cog        388188 non-null  float64
 6   ulsan_drag_train_final.hdg        388169 non-null  float64
 7   stn_num                           388243 non-null  object
 8   timestamp                         388243 non-null  object
 9   target                            388243 non-null  int64
 10  time                              388243 non-null  object
 11  ganjeol_max_wh                    388243 non-null  float64
 12  ganjeol_sig_wh                    388243 non-null  float64
 13  ganjeol_mean_wh                   388243 non-null  float64
 14  dangsa_max_wh                     388243 non-null  float64
 15  dangsa_sig_wh                     388243 non-null  float64
 16  dangsa_mean_wh                    388243 non-null  float64
 17  gori_ws                           388243 non-null  float64
 18  gori_wd                           388243 non-null  float64
 19  idukseo_ws                        388243 non-null  float64
 20  idukseo_wdpoint                   388243 non-null  float64
dtypes: float64(13), int64(2), object(6)
memory usage: 73.2+ MB

In [33]:
df.isnull().sum()

ulsan_drag_train_final.num           0
ulsan_drag_train_final.time          0
ulsan_drag_train_final.latitude      0
ulsan_drag_train_final.longitude     0
ulsan_drag_train_final.sog           0
ulsan_drag_train_final.cog          55
ulsan_drag_train_final.hdg          74
stn_num                              0
timestamp                            0
target                               0
time                                 0
ganjeol_max_wh                       0
ganjeol_sig_wh                       0
ganjeol_mean_wh                      0
dangsa_max_wh                        0
dangsa_sig_wh                        0
dangsa_mean_wh                       0
gori_ws                              0
gori_wd                              0
idukseo_ws                           0
idukseo_wdpoint                      0
dtype: int64

### sog = 102.3이 나온것들은 cog컬럼의 null값에 의한 이상치로 판단하고 이것도 다시 선형보간법으로 채워주기

In [34]:
df1=df[df['ulsan_drag_train_final.sog']==102.3]
df1

,ulsan_drag_train_final.num,ulsan_drag_train_final.time,ulsan_drag_train_final.latitude,ulsan_drag_train_final.longitude,ulsan_drag_train_final.sog,ulsan_drag_train_final.cog,ulsan_drag_train_final.hdg,stn_num,timestamp,target,...,ganjeol_max_wh,ganjeol_sig_wh,ganjeol_mean_wh,dangsa_max_wh,dangsa_sig_wh,dangsa_mean_wh,gori_ws,gori_wd,idukseo_ws,idukseo_wdpoint
95148,56,2021-05-04 04:39:00,"""N35.446677""","""E129.440475""",102.3,NaN,205.0,E1,2021-05-04 04:39,0,...,0.6,0.4,0.3,0.900000,0.600000,0.400000,39.500000,71.000000,266.0,7.0
95169,56,2021-05-04 05:42:00,"""N35.446630""","""E129.440755""",102.3,NaN,217.0,E1,2021-05-04 05:42,0,...,0.5,0.4,0.3,1.200000,0.800000,0.500000,34.500000,70.000000,230.0,6.4
123567,73,2021-08-15 20:51:00,"""N35.448950""","""E129.450638""",102.3,NaN,50.0,E1,2021-08-15 20:51,0,...,1.2,0.9,0.5,1.300000,1.100000,0.700000,24.438242,166.087402,31.0,7.0
152351,102,2021-11-28 09:32:00,"""N35.445455""","""E129.443988""",102.3,NaN,343.0,E1,2021-11-28 09:32,0,...,0.9,0.6,0.4,1.508463,1.004232,0.534744,10.700000,260.000000,255.0,1.0
152387,102,2021-11-28 09:38:00,"""N35.445498""","""E129.444003""",102.3,NaN,336.0,E1,2021-11-28 09:38,0,...,0.9,0.6,0.4,1.508463,1.004232,0.534744,15.100000,266.000000,251.0,1.2
152425,102,2021-11-28 09:45:00,"""N35.445392""","""E129.443795""",102.3,NaN,352.0,E1,2021-11-28 09:45,0,...,0.9,0.6,0.4,1.508463,1.004232,0.534744,23.200000,248.000000,271.0,1.8
152498,102,2021-11-28 09:57:00,"""N35.445415""","""E129.443832""",102.3,NaN,350.0,E1,2021-11-28 09:57,0,...,0.9,0.6,0.4,1.508463,1.004232,0.534744,14.900000,229.000000,274.0,2.0
152641,102,2021-11-28 10:21:00,"""N35.445412""","""E129.443862""",102.3,NaN,340.0,E1,2021-11-28 10:21,0,...,0.9,0.7,0.4,1.509800,1.004900,0.534967,19.000000,263.000000,225.0,1.0
152645,102,2021-11-28 10:21:00,"""N35.445422""","""E129.443832""",102.3,NaN,342.0,E1,2021-11-28 10:21,0,...,0.9,0.7,0.4,1.509800,1.004900,0.534967,19.000000,263.000000,225.0,1.0
152684,102,2021-11-28 10:28:00,"""N35.445328""","""E129.443712""",102.3,NaN,340.0,E1,2021-11-28 10:28,0,...,0.9,0.7,0.4,1.509800,1.004900,0.534967,14.100000,214.000000,247.0,2.4
152686,102,2021-11-28 10:28:00,"""N35.445340""","""E129.443723""",102.3,NaN,339.0,E1,2021-11-28 10:28,0,...,0.9,0.7,0.4,1.509800,1.004900,0.534967,14.100000,214.000000,247.0,2.4
153173,102,2021-11-28 11:50:00,"""N35.446315""","""E129.442055""",102.3,NaN,117.0,E1,2021-11-28 11:50,0,...,0.8,0.6,0.3,1.511136,1.005568,0.535189,10.300000,192.000000,225.0,4.9
153333,102,2021-11-28 12:17:00,"""N35.447042""","""E129.442427""",102.3,NaN,144.0,E1,2021-11-28 12:17,0,...,0.7,0.6,0.3,1.512472,1.006236,0.535412,18.600000,231.000000,225.0,5.8
154690,102,2021-11-28 16:07:00,"""N35.447785""","""E129.443365""",102.3,NaN,188.0,E1,2021-11-28 16:07,0,...,0.7,0.5,0.3,1.517817,1.008909,0.536303,28.700000,55.000000,217.0,6.6
154714,102,2021-11-28 16:11:00,"""N35.447840""","""E129.443402""",102.3,NaN,193.0,E1,2021-11-28 16:11,0,...,0.7,0.5,0.3,1.517817,1.008909,0.536303,36.000000,52.000000,230.0,5.4
154895,102,2021-11-28 16:42:00,"""N35.447792""","""E129.443328""",102.3,NaN,189.0,E1,2021-11-28 16:42,0,...,0.7,0.5,0.3,1.517817,1.008909,0.536303,31.400000,20.000000,218.0,5.2
155015,102,2021-11-28 17:02:00,"""N35.447783""","""E129.443385""",102.3,NaN,193.0,E1,2021-11-28 17:02,0,...,1.0,0.7,0.4,1.519154,1.009577,0.536526,33.800000,27.000000,214.0,4.6
155234,102,2021-11-28 17:38:00,"""N35.447715""","""E129.443627""",102.3,NaN,197.0,E1,2021-11-28 17:38,0,...,1.0,0.7,0.4,1.519154,1.009577,0.536526,31.900000,39.000000,250.0,3.2
155463,102,2021-11-28 18:16:00,"""N35.447652""","""E129.443898""",102.3,NaN,207.0,E1,2021-11-28 18:16,0,...,0.9,0.6,0.4,1.520490,1.010245,0.536748,36.400000,20.000000,254.0,4.3
155498,102,2021-11-28 18:23:00,"""N35.447770""","""E129.443675""",102.3,NaN,203.0,E1,2021-11-28 18:23,0,...,0.9,0.6,0.4,1.520490,1.010245,0.536748,32.800000,28.000000,255.0,3.7
155543,102,2021-11-28 18:31:00,"""N35.447670""","""E129.443970""",102.3,NaN,213.0,E1,2021-11-28 18:31,0,...,0.9,0.6,0.4,1.520490,1.010245,0.536748,37.900000,45.000000,268.0,3.4
155999,102,2021-11-28 19:57:00,"""N35.447733""","""E129.443870""",102.3,NaN,215.0,E1,2021-11-28 19:57,0,...,0.6,0.5,0.3,1.521826,1.010913,0.536971,29.500000,60.000000,261.0,3.0
156098,102,2021-11-28 20:15:00,"""N35.447493""","""E129.444220""",102.3,NaN,238.0,E1,2021-11-28 20:15,0,...,0.7,0.5,0.3,1.523163,1.011581,0.537194,30.100000,66.000000,283.0,1.6
156111,102,2021-11-28 20:17:00,"""N35.447595""","""E129.444112""",102.3,NaN,239.0,E1,2021-11-28 20:17,0,...,0.7,0.5,0.3,1.523163,1.011581,0.537194,27.800000,56.000000,329.0,1.9
156120,102,2021-11-28 20:18:00,"""N35.447660""","""E129.443995""",102.3,NaN,229.0,E1,2021-11-28 20:18,0,...,0.7,0.5,0.3,1.523163,1.011581,0.537194,29.700000,56.000000,301.0,1.5
156164,102,2021-11-28 20:27:00,"""N35.447480""","""E129.444228""",102.3,NaN,230.0,E1,2021-11-28 20:27,0,...,0.7,0.5,0.3,1.523163,1.011581,0.537194,28.300000,76.000000,322.0,2.0
156246,102,2021-11-28 20:42:00,"""N35.447317""","""E129.444193""",102.3,NaN,232.0,E1,2021-11-28 20:42,0,...,0.7,0.5,0.3,1.523163,1.011581,0.537194,23.200000,75.000000,264.0,1.3
156322,102,2021-11-28 20:55:00,"""N35.447420""","""E129.444168""",102.3,NaN,217.0,E1,2021-11-28 20:55,0,...,0.7,0.5,0.3,1.523163,1.011581,0.537194,26.400000,78.000000,300.0,1.1
156364,102,2021-11-28 21:04:00,"""N35.447443""","""E129.444000""",102.3,NaN,235.0,E1,2021-11-28 21:04,0,...,0.8,0.6,0.3,1.524499,1.012249,0.537416,22.200000,73.000000,326.0,1.8
156369,102,2021-11-28 21:05:00,"""N35.447450""","""E129.443983""",102.3,NaN,230.0,E1,2021-11-28 21:05,0,...,0.8,0.6,0.3,1.524499,1.012249,0.537416,18.800000,62.000000,324.0,1.7
156409,102,2021-11-28 21:13:00,"""N35.447237""","""E129.444385""",102.3,NaN,242.0,E1,2021-11-28 21:13,0,...,0.8,0.6,0.3,1.524499,1.012249,0.537416,17.700000,90.000000,330.0,1.3
156629,102,2021-11-28 21:56:00,"""N35.446193""","""E129.444242""",102.3,NaN,307.0,E1,2021-11-28 21:56,0,...,0.8,0.6,0.3,1.524499,1.012249,0.537416,15.000000,80.000000,337.0,2.4
156789,102,2021-11-28 22:23:00,"""N35.445982""","""E129.444097""",102.3,NaN,324.0,E1,2021-11-28 22:23,0,...,0.8,0.6,0.4,1.525835,1.012918,0.537639,5.900000,130.000000,320.0,1.8
156797,102,2021-11-28 22:24:00,"""N35.446005""","""E129.444088""",102.3,NaN,326.0,E1,2021-11-28 22:24,0,...,0.8,0.6,0.4,1.525835,1.012918,0.537639,8.100000,126.000000,313.0,2.2
156899,102,2021-11-28 22:44:00,"""N35.445792""","""E129.443937""",102.3,NaN,341.0,E1,2021-11-28 22:44,0,...,0.8,0.6,0.4,1.525835,1.012918,0.537639,10.200000,150.000000,328.0,0.8
156956,102,2021-11-28 22:54:00,"""N35.445792""","""E129.443880""",102.3,NaN,344.0,E1,2021-11-28 22:54,0,...,0.8,0.6,0.4,1.525835,1.012918,0.537639,5.600000,179.000000,293.0,0.1
156958,102,2021-11-28 22:54:00,"""N35.445792""","""E129.443898""",102.3,NaN,345.0,E1,2021-11-28 22:54,0,...,0.8,0.6,0.4,1.525835,1.012918,0.537639,5.600000,179.000000,293.0,0.1
156981,102,2021-11-28 22:59:00,"""N35.445775""","""E129.443925""",102.3,NaN,341.0,E1,2021-11-28 22:59,0,...,0.8,0.6,0.4,1.525835,1.012918,0.537639,7.800000,161.000000,256.0,0.0
157411,102,2021-11-29 00:50:00,"""N35.445672""","""E129.443807""",102.3,NaN,346.0,E1,2021-11-29 00:50,0,...,0.5,0.4,0.2,1.528508,1.014254,0.538085,27.600000,217.000000,323.0,3.4
157469,102,2021-11-29 03:47:00,"""N35.446540""","""E129.444467""",102.3,NaN,294.0,E1,2021-11-29 03:47,0,...,0.6,0.5,0.3,1.532517,1.016258,0.538753,17.500000,241.000000,316.0,1.8
157549,102,2021-11-29 07:44:00,"""N35.446040""","""E129.444365""",102.3,NaN,321.0,E1,2021-11-29 07:44,0,...,0.4,0.3,0.2,1.537862,1.018931,0.539644,8.800000,70.000000,323.0,3.3
157562,102,2021-11-29 08:23:00,"""N35.446218""","""E129.444440""",102.3,NaN,283.0,E1,2021-11-29 08:23,0,...,0.5,0.3,0.2,1.539198,1.019599,0.539866,2.100000,273.000000,263.0,2.7
157563,102,2021-11-29 08:23:00,"""N35.446218""","""E129.444440""",102.3,NaN,283.0,E1,2021-11-29 08:23,0,...,0.5,0.3,0.2,1.539198,1.019599,0.539866,2.100000,273.000000,263.0,2.7
157722,102,2021-11-29 16:08:00,"""N35.448185""","""E129.443855""",102.3,NaN,202.0,E1,2021-11-29 16:08,0,...,1.1,0.8,0.5,1.549889,1.024944,0.541648,11.400000,68.000000,226.0,6.9
157751,102,2021-11-29 17:35:00,"""N35.448335""","""E129.444343""",102.3,NaN,210.0,E1,2021-11-29 17:35,0,...,0.9,0.7,0.5,1.551225,1.025612,0.541871,37.400000,79.000000,264.0,4.8
157764,102,2021-11-29 18:11:00,"""N35.448240""","""E129.444375""",102.3,NaN,221.0,E1,2021-11-29 18:11,0,...,0.6,0.5,0.3,1.552561,1.026281,0.542094,38.400000,83.000000,262.0,3.4
157897,102,2021-11-30 01:29:00,"""N35.448153""","""E129.444162""",102.3,NaN,212.0,E1,2021-11-30 01:29,0,...,0.3,0.2,0.2,1.561915,1.030958,0.543653,35.100000,240.000000,331.0,1.6
157974,102,2021-11-30 05:26:00,"""N35.448342""","""E129.443793""",102.3,NaN,193.0,E1,2021-11-30 05:26,0,...,0.3,0.3,0.2,1.567261,1.033630,0.544543,11.300000,273.000000,251.0,4.6
203848,150,2022-04-28 19:12:00,"""N35.426283""","""E129.455783""",102.3,NaN,82.0,E2,2022-04-28 19:12,0,...,1.6,1.2,0.7,1.101609,0.900804,0.550402,5.100000,220.000000,48.0,9.3
227112,1009,2021-01-28 03:57:00,"""N35.419632""","""E129.452358""",102.3,NaN,0.0,E3,2021-01-28 03:57,0,...,0.8,0.5,0.3,0.900000,0.600000,0.400000,43.000000,185.000000,330.0,4.1
265779,1037,2021-05-29 23:39:00,"""N35.490808""","""E129.397345""",102.3,NaN,101.0,M4,2021-05-29 23:39,0,...,0.5,0.4,0.2,0.600000,0.400000,0.300000,26.200000,69.000000,334.0,5.3
277929,1045,2021-06-24 09:56:00,"""N35.497083""","""E129.400750""",102.3,NaN,81.0,M1,2021-06-24 09:56,0,...,0.5,0.4,0.3,0.600000,0.400000,0.300000,10.300000,349.000000,68.0,1.3
278549,1045,2021-06-24 11:48:00,"""N35.497983""","""E129.401150""",102.3,NaN,158.0,M1,2021-06-24 11:48,0,...,0.6,0.4,0.3,0.700000,0.400000,0.300000,20.000000,292.000000,151.0,1.8
278856,1045,2021-06-24 12:41:00,"""N35.497850""","""E129.400917""",102.3,NaN,137.0,M1,2021-06-24 12:41,0,...,0.7,0.4,0.3,0.600000,0.400000,0.300000,32.000000,266.000000,145.0,2.6
379749,1120,2022-02-04 16:06:00,"""N35.454760""","""E129.411047""",102.3,NaN,246.0,E1,2022-02-04 16:06,0,...,0.9,0.7,0.4,0.961538,0.707692,0.400000,39.600000,74.000000,340.0,9.5

### cog가 nan값이면 sog값 다 102.3 전처리 필요할듯

## sog = 102.3인 값들을 이상치라고 판단, null값 처리후 cog컬럼 처리방식과 같이 선형보간법 처리

In [35]:
df['ulsan_drag_train_final.sog'] = df['ulsan_drag_train_final.sog'].replace(102.3, np.nan)
df

,ulsan_drag_train_final.num,ulsan_drag_train_final.time,ulsan_drag_train_final.latitude,ulsan_drag_train_final.longitude,ulsan_drag_train_final.sog,ulsan_drag_train_final.cog,ulsan_drag_train_final.hdg,stn_num,timestamp,target,...,ganjeol_max_wh,ganjeol_sig_wh,ganjeol_mean_wh,dangsa_max_wh,dangsa_sig_wh,dangsa_mean_wh,gori_ws,gori_wd,idukseo_ws,idukseo_wdpoint
0,1,2021-02-14 14:37:11,"""N35.433233""","""E129.458967""",0.2,60.0,204.0,E2,2021-02-14 14:37,0,...,0.8,0.6,0.4,1.20000,0.800000,0.6,14.8,122.0,172.0,2.0
1,1,2021-02-14 14:37:21,"""N35.433233""","""E129.458983""",0.2,53.0,204.0,E2,2021-02-14 14:37,0,...,0.8,0.6,0.4,1.20000,0.800000,0.6,14.8,122.0,172.0,2.0
2,1,2021-02-14 14:37:33,"""N35.433250""","""E129.459000""",0.2,45.0,203.0,E2,2021-02-14 14:37,0,...,0.8,0.6,0.4,1.20000,0.800000,0.6,14.8,122.0,172.0,2.0
3,1,2021-02-14 14:37:42,"""N35.433250""","""E129.459000""",0.2,44.0,203.0,E2,2021-02-14 14:37,0,...,0.8,0.6,0.4,1.20000,0.800000,0.6,14.8,122.0,172.0,2.0
4,1,2021-02-14 14:37:52,"""N35.433267""","""E129.459017""",0.2,41.0,203.0,E2,2021-02-14 14:37,0,...,0.8,0.6,0.4,1.20000,0.800000,0.6,14.8,122.0,172.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388238,1127,2022-02-06 23:00:59,"""N35.459582""","""E129.416498""",0.1,246.5,315.0,E1,2022-02-06 23:00,0,...,0.6,0.5,0.3,0.91453,0.676353,0.4,21.6,211.0,297.0,3.8
388239,1127,2022-02-06 23:04:03,"""N35.459568""","""E129.416445""",0.0,301.3,322.0,E1,2022-02-06 23:04,0,...,0.6,0.5,0.3,0.91453,0.676353,0.4,20.6,210.0,303.0,3.8
388240,1127,2022-02-06 23:07:00,"""N35.459557""","""E129.416562""",0.3,98.9,317.0,E1,2022-02-06 23:07,0,...,0.6,0.5,0.3,0.91453,0.676353,0.4,19.5,228.0,306.0,5.4
388241,1127,2022-02-06 23:10:02,"""N35.459630""","""E129.416552""",0.2,322.3,305.0,E1,2022-02-06 23:10,0,...,0.6,0.5,0.3,0.91453,0.676353,0.4,20.8,211.0,310.0,6.5
388242,1127,2022-02-06 23:13:00,"""N35.459640""","""E129.416417""",0.2,244.3,306.0,E1,2022-02-06 23:13,0,...,0.6,0.5,0.3,0.91453,0.676353,0.4,30.8,215.0,310.0,7.3

In [36]:
df.isnull().sum()

ulsan_drag_train_final.num           0
ulsan_drag_train_final.time          0
ulsan_drag_train_final.latitude      0
ulsan_drag_train_final.longitude     0
ulsan_drag_train_final.sog          55
ulsan_drag_train_final.cog          55
ulsan_drag_train_final.hdg          74
stn_num                              0
timestamp                            0
target                               0
time                                 0
ganjeol_max_wh                       0
ganjeol_sig_wh                       0
ganjeol_mean_wh                      0
dangsa_max_wh                        0
dangsa_sig_wh                        0
dangsa_mean_wh                       0
gori_ws                              0
gori_wd                              0
idukseo_ws                           0
idukseo_wdpoint                      0
dtype: int64

## COG(선박별 이동하는 방향의 방위각이 다를것)

- 실침로(cog)의 데이터가 널값인 경우를 추출하여 선박번호와 함께확인, 선수미선(hdg컬럼)과 가장 큰 영향이 있을것이므로 함께보기

In [37]:
df_11=df[['ulsan_drag_train_final.sog',	'ulsan_drag_train_final.cog',	'ulsan_drag_train_final.hdg']]

In [38]:
from sklearn.impute import KNNImputer
Ki_1 = KNNImputer(n_neighbors = 3)

df_12=Ki_1.fit(df_11)

df_13 = df_12.fit_transform(df_11)

In [39]:
df_13=pd.DataFrame(df_13, columns=['ulsan_drag_train_final.sog',	'ulsan_drag_train_final.cog',	'ulsan_drag_train_final.hdg'])
df['ulsan_drag_train_final.sog'] = df_13['ulsan_drag_train_final.sog']
df['ulsan_drag_train_final.cog'] = df_13['ulsan_drag_train_final.cog']
df['ulsan_drag_train_final.hdg'] = df_13['ulsan_drag_train_final.hdg']

In [40]:
df.isnull().sum()

ulsan_drag_train_final.num          0
ulsan_drag_train_final.time         0
ulsan_drag_train_final.latitude     0
ulsan_drag_train_final.longitude    0
ulsan_drag_train_final.sog          0
ulsan_drag_train_final.cog          0
ulsan_drag_train_final.hdg          0
stn_num                             0
timestamp                           0
target                              0
time                                0
ganjeol_max_wh                      0
ganjeol_sig_wh                      0
ganjeol_mean_wh                     0
dangsa_max_wh                       0
dangsa_sig_wh                       0
dangsa_mean_wh                      0
gori_ws                             0
gori_wd                             0
idukseo_ws                          0
idukseo_wdpoint                     0
dtype: int64

In [16]:
num_list

[]

In [ ]:
df_11=df[['ulsan_drag_train_final.sog',	'ulsan_drag_train_final.cog',	'ulsan_drag_train_final.hdg']]

In [ ]:
df['ulsan_drag_train_final.hdg'] = df.groupby('ulsan_drag_train_final.num')['ulsan_drag_train_final.hdg'].apply(lambda group: group.interpolate(limit_direction='both',method='linear'))

<ipython-input-198-bf3592132bce>:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df['ulsan_drag_train_final.hdg'] = df.groupby('ulsan_drag_train_final.num')['ulsan_drag_train_final.hdg'].apply(lambda group: group.interpolate(limit_direction='both',method='linear'))

In [ ]:
df.isnull().sum()

ulsan_drag_train_final.num               0
ulsan_drag_train_final.time              0
ulsan_drag_train_final.latitude          0
ulsan_drag_train_final.longitude         0
ulsan_drag_train_final.sog               0
ulsan_drag_train_final.cog               0
ulsan_drag_train_final.hdg               0
stn_num                                  0
timestamp                                0
target                                   0
time                                     0
ganjeol_max_wh                       37093
ganjeol_sig_wh                       37093
ganjeol_mean_wh                      37093
dangsa_max_wh                        87729
dangsa_sig_wh                        87729
dangsa_mean_wh                       87729
gori_ws                             105173
gori_wd                             105155
idukseo_ws                             135
idukseo_wdpoint                        135
dtype: int64

In [ ]:
df['ulsan_drag_train_final.sog'] = df.groupby('ulsan_drag_train_final.num')['ulsan_drag_train_final.sog'].apply(lambda group: group.interpolate(method='linear'))

<ipython-input-203-a152b0ffb79f>:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df['ulsan_drag_train_final.sog'] = df.groupby('ulsan_drag_train_final.num')['ulsan_drag_train_final.sog'].apply(lambda group: group.interpolate(method='linear'))

선수미선의 데이터가 널값인 경우를 추출하여 선박번호와 함께확인, 실침로(cog컬럼)과 가장 큰 영향이 있을것이므로 함께보기

In [ ]:
df_target = df[df['target'] == 1]
df_target

,ulsan_drag_train_final.num,ulsan_drag_train_final.time,ulsan_drag_train_final.latitude,ulsan_drag_train_final.longitude,ulsan_drag_train_final.sog,ulsan_drag_train_final.cog,ulsan_drag_train_final.hdg,stn_num,timestamp,target,...,ganjeol_max_wh,ganjeol_sig_wh,ganjeol_mean_wh,dangsa_max_wh,dangsa_sig_wh,dangsa_mean_wh,gori_ws,gori_wd,idukseo_ws,idukseo_wdpoint
565,1,2021-02-15 18:11:36,"""N35.432083""","""E129.461633""",0.2,196.0,272.0,E2,2021-02-15 18:11,1,...,0.8,0.6,0.4,0.9,0.7,0.4,43.6,182.0,318.0,13.1
566,1,2021-02-15 18:14:39,"""N35.431767""","""E129.461650""",0.4,206.0,284.0,E2,2021-02-15 18:14,1,...,0.8,0.6,0.4,0.9,0.7,0.4,42.2,179.0,328.0,13.1
567,1,2021-02-15 18:17:37,"""N35.431683""","""E129.461650""",0.2,321.0,294.0,E2,2021-02-15 18:17,1,...,0.8,0.6,0.4,0.9,0.7,0.4,40.3,184.0,312.0,15.5
568,1,2021-02-15 18:20:37,"""N35.431817""","""E129.461650""",0.2,306.0,284.0,E2,2021-02-15 18:20,1,...,0.8,0.6,0.4,0.9,0.7,0.4,46.8,182.0,316.0,13.8
569,1,2021-02-15 18:23:37,"""N35.431733""","""E129.461633""",0.2,153.0,284.0,E2,2021-02-15 18:23,1,...,0.8,0.6,0.4,0.9,0.7,0.4,39.3,181.0,322.0,14.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218607,163,2022-06-24 06:44:00,"""N35.443755""","""E129.414917""",1.1,186.0,195.0,E1,2022-06-24 06:44,1,...,2.3,1.8,1.0,2.1,1.5,0.9,42.9,52.0,241.0,11.0
218608,163,2022-06-24 06:44:00,"""N35.443685""","""E129.414905""",1.4,187.5,195.0,E1,2022-06-24 06:44,1,...,2.3,1.8,1.0,2.1,1.5,0.9,42.9,52.0,241.0,11.0
218609,163,2022-06-24 06:44:00,"""N35.443608""","""E129.414883""",1.6,193.8,195.0,E1,2022-06-24 06:44,1,...,2.3,1.8,1.0,2.1,1.5,0.9,42.9,52.0,241.0,11.0
218610,163,2022-06-24 06:44:00,"""N35.443515""","""E129.414872""",1.8,188.1,195.0,E1,2022-06-24 06:44,1,...,2.3,1.8,1.0,2.1,1.5,0.9,42.9,52.0,241.0,11.0
218611,163,2022-06-24 06:44:00,"""N35.443428""","""E129.414842""",2.0,193.2,195.0,E1,2022-06-24 06:44,1,...,2.3,1.8,1.0,2.1,1.5,0.9,42.9,52.0,241.0,11.0

target data에 대해서 시각화하고 해석이 좀더 필요할듯

### 선형보간법